{% block body %}
    <table class="card">
        <tbody>
        {% for card_item in card.card_items|sort %}
            {% if loop.index0 % card.cols == 0 %}
                <tr>
            {% endif %}
            <td>
                <div>
                    {{ card_item.item.detail }}
                    {% if card_item.item.free_space %}
                        <br>
                        (FREE SPACE)
                    {% endif %}
                </div>
            </td>
            {% if loop.index % card.cols == card.cols %}
                {# equivalent to loop.index0 % card.cols == card.cols - 1 #}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
